<div class="uk-position-relative">
  <div class="uk-background-cover uk-background-center-center" style="background-image: url(./assets/splash.jpg); height: 722px"></div>
  <div class="uk-position-top">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
          <li><a (click)="openLogInDialog()">Inicia Sesión</a></li>
          <a class="uk-navbar-item uk-logo" href=""><img src="./assets/favicon.ico" width="60" height="60"></a>
          <li><a (click)="openSingUpDialog()">Regístrate</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
