<h1 mat-dialog-title>{{title}}</h1>
<mat-divider></mat-divider>
<br>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Usuario</mat-label>
    <mat-icon matSuffix>perm_identity</mat-icon>
    <input [(ngModel)]="this.user.username" name="username" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Contraseña</mat-label>
    <mat-icon matSuffix>enhanced_encryption</mat-icon>
    <input [(ngModel)]="this.user.password" name="password" matInput required type="password"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button (click)="logIn()" [disabled]=invalid() color="primary" mat-raised-button>OK
  </button>
</mat-dialog-actions>
