<button class="uk-align-right" (click)="openDeleteUserDialog()" color="warn" mat-raised-button>Borrar Cuenta</button>
<div id="profileContainer">
  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
      <h1>Datos personales</h1>
      <mat-divider></mat-divider>
      <mat-form-field class="full-width">
        <mat-label>Usuario</mat-label>
        <mat-icon matSuffix>perm_identity</mat-icon>
        <input name="username" matInput type="text" disabled/>
      </mat-form-field><br>
      <mat-form-field class="full-width">
        <mat-label>Contraseña</mat-label>
        <mat-icon matSuffix>enhanced_encryption</mat-icon>
        <input name="password" matInput type="password" disabled/>
      </mat-form-field><br>
      <mat-form-field class="full-width">
        <mat-label>Dirección</mat-label>
        <mat-icon matSuffix>add_location</mat-icon>
        <input id="address" matInput type="text" (focus)="autocompleteFocus()"/>
      </mat-form-field><br>
      <mat-form-field class="full-width">
        <mat-label>Descripción</mat-label>
        <textarea id="description" matInput type="text"></textarea>
      </mat-form-field><br><br><br>
      <button (click)="cancelUpdate()" mat-dialog-close mat-raised-button>Cancelar</button>
      <button (click)="updateUser()" [disabled]=invalid() color="primary" mat-raised-button>Guardar</button>
    </div>
    <div>
      <h1>Mis mascotas</h1>
      <mat-divider></mat-divider>
      <div *ngIf="hasNoPets()" class="NoPetsInfo">
        <h1>Parece que aún no has añadido mascotas a tu perfil!</h1>
      </div>
        <div *ngFor="let pet of this.myPets">
          <div class="uk-child-width-expand@s uk-text-center listItem" uk-grid>
            <div class="itemName">{{pet}}</div>
            <div>
              <button (click)="updatePet(pet)" mat-icon-button><mat-icon>edit_calendar</mat-icon></button>
              <button (click)="deletePet(pet)" mat-icon-button><mat-icon>delete</mat-icon></button>
            </div>
          </div>
          <mat-divider></mat-divider>
      </div>
  </div>
</div>

