.headerBody{
  padding-top: 80px;
  text-align: center;
}
.myAddsContainer{
  width: 80%;
  margin: 50px auto;
}
.uk-card{
  transition: transform 250ms;
}
.uk-card:hover{
  transform: translateY(-10px);
}
.newMessage{
  font-weight: bold;
}
