.headerBody{
  margin: 150px 50px;
  text-align: center;
}
.myAddsContainer{
  width: 80%;
  margin: 50px auto;
}
.uk-card{
  transition: transform 250ms;
}
.uk-card:hover{
  transform: translateY(-10px);
}
