#comunicationContainer{
  width: 60%;
  margin: 50px auto;
  text-align: center;
}
.messagesContainer{
  height: 400px;
  overflow: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.headerBody{
  padding-top: 150px;
}
