#comunicationContainer{
  width: 60%;
  margin: auto;
  text-align: center;
}
.messagesContainer{
  height: 450px;
  overflow: auto;
  border: 1px solid black;
}
.headerBody{
  padding-top: 150px;
}
.title{
  padding-top: 10px;
  text-align: left;
}
.subtitle{
  text-align: left;
}
