<h1 mat-dialog-title>{{title}}</h1>
<mat-divider></mat-divider>
<br>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Usuario</mat-label>
    <mat-icon matSuffix>perm_identity</mat-icon>
    <input [(ngModel)]="this.newUser.username" name="username" matInput required type="text" (focusout)="verifyUserName()"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Contraseña</mat-label>
    <mat-icon matSuffix>enhanced_encryption</mat-icon>
    <input [(ngModel)]="this.newUser.password" name="password" matInput required type="password"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Repita la contraseña</mat-label>
    <mat-icon matSuffix>enhanced_encryption</mat-icon>
    <input [(ngModel)]="this.repeatPassword" name="repeatPassword" matInput required type="password"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Dirección</mat-label>
    <mat-icon matSuffix>add_location</mat-icon>
    <input [(ngModel)]="this.newUser.address" id="address" name="address" (focus)="autocompleteFocus()" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea [(ngModel)]="this.newUser.description" id="description" matInput required type="text"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button (click)="saveUser()" [disabled]=invalid() color="primary" mat-raised-button>OK
  </button>
</mat-dialog-actions>
