<mat-spinner *ngIf="!this.loaded" class="addsContainer"></mat-spinner>
<div *ngIf="this.loaded" class="addsContainer">
  <h1>Anuncios encontrados cerca de ti</h1>
  <mat-divider></mat-divider>
  <div *ngIf="this.addsNotExist()" class="headerBody">
    <h1>Parece que nadie ha publicado aún un anuncio.</h1>
    <a (click)="redirectToHome()" uk-icon="icon:  arrow-left; ratio: 8.5"></a>
  </div>
  <br>
  <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center" uk-grid uk-height-match="target: > div > .uk-card">
    <div *ngFor="let add of this.adds">
      <div *ngIf="isAdoption()" class="uk-card uk-card-small uk-card-default">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img width="160" height="160" src="http://localhost:3000/{{add.pet.id}}/{{add.pet.picture}}" alt="">
            </div>
            <div class="uk-width-expand">
              <p class="uk-card-title uk-margin-remove-bottom">{{add.pet.name}}</p>
              <p class="uk-text-meta uk-margin-remove-top">{{add.pet.breed}} | {{add.pet.weight}}Kg | {{add.pet.age}} años</p>
              <p class="uk-text-meta uk-margin-remove-top">{{add.pet.description}}</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title uk-margin-remove-bottom">{{add.user.username}}</h3>
          <p class="uk-text-meta uk-margin-remove-top">{{add.user.address}}</p>
        </div>
      </div>
      <div *ngIf="!isAdoption()" class="uk-card uk-card-small uk-card-default">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <p class="uk-card-title uk-margin-remove-bottom">{{add.user.username}}</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title uk-margin-remove-bottom">{{add.user.description}}</h3><br>
          <p class="uk-text-meta uk-margin-remove-top">{{add.user.address}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
