<div id="operationContainer" class="uk-child-width-expand@s uk-text-center" uk-grid>
  <div class="uk-card uk-card-large uk-card-default uk-card-hover" (click)="publishAdd()">
    <div class="uk-card-media-top">
      <img src="assets/pexels-lumn-406014.jpg" alt="">
    </div>
    <div class="uk-card-body">
      <h1 class="uk-card-title">Publica</h1>
      <p>Presenta una mascota en busca de adopción o regístrate como voluntario en tu zona para el cuidado de mascotas.</p>
    </div>
  </div>
  <div class="uk-card uk-card-large uk-card-default uk-card-hover" (click)="openTypeAddDialog()">
    <div class="uk-card-body">
      <h1 class="uk-card-title">Encuentra</h1>
      <p>Aquí encontraras tanto tu nueva mascota como al vecino que podría hacerse cargo de la tuya mientras estas fuera!</p>
    </div>
    <div class="uk-card-media-top">
      <img src="assets/pexels-artem-beliaikin-1485637.jpg" alt="">
    </div>
  </div>
</div>

