.uk-navbar-nav>li>a{
  color: black;
  font-size: 20px;
  -webkit-transition: font-size .5s ease;
  -moz-transition: font-size .5s ease;
  -o-transition: font-size .5s ease;
  transition: font-size .5s ease;
}
.uk-navbar-nav>li>a:hover {
  font-size: 1.6em;
  color: black;
}
h1{
  text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
